.login{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}z

.loginLeft , .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}
.loginButton{
height: 50px;
border-radius: 10px;
border: none;
background-color: #1775ee;
color: white;
font-weight: 500;
font-size: 20px;

}

.loginForget{
    text-align: center;
    color: #1775ee;

}

.loginRigesterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-weight: 500;
    font-size: 20px;
   
}
@media (max-width: 600px) {
    .loginWrapper{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }
    .loginInput{
        height: 50px;
    }
    .loginButton{
        height:50px;
    }

    .loginRigesterButton{
        width: 70%;
        padding: 3px;
        height: 50px;
        font-size: 15px;
    }
    .loginLeft{
        text-align: center;
    }
    .loginDesc{
        font-size: 18px;
        margin: 10px;
    }
    
    .loginWrapper{
        height: 50%;
    }
   
}